playbooks/create-incident-phishing.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "resourceTags": {
            "type": "object",
            "defaultValue": {
                "LogicAppsCategory": "security"
            }
        },
        "logicAppWorkspace": {
            "type": "string",
            "metadata": {
              "description": "Name of the existing Log Analytics workspace that the Logic App should connect to. Note that the Logic App connects to a single workspace, but can query data across multiple workspaces. Use the 'Workspaces To Query' parameter to specify the list of workspaces that the Logic App should query data from."
            }
        },
        "CreateIncidentIntezerPhishingEmailPlaybookName": {
            "defaultValue": "CreateIncident-IntezerPhishingEmail-WebhookTriggered",
            "type": "string"
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        }
    },
    "variables": {
        "AlertAzureSentinelConnectionName": "azuresentinel-intezer-connection"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AlertAzureSentinelConnectionName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('resourceTags')]",
            "properties": {
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('CreateIncidentIntezerPhishingEmailPlaybookName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('resourceTags')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AlertAzureSentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$workspaceSubscriptionId": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$resourceGroupName": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$logicAppWorkspace": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {},
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "Add_comment_to_incident_(V3)": {
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@body('Create_incident')?['id']",
                                    "message": "<p>@{body('Parse_JSON_-_Parse_phishing_email_alert_from_Intezer')?['note']}</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            },
                            "runAfter": {
                                "Create_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Create_incident": {
                            "inputs": {
                                "body": {
                                    "severity": "Medium",
                                    "status": "New",
                                    "tagsToAdd": {
                                        "TagsToAdd": [
                                            {
                                                "Tag": "intezer_phishing_emails"
                                            }
                                        ]
                                    },
                                    "title": "@body('Parse_JSON_-_Parse_phishing_email_alert_from_Intezer')?['alert']?['alert_title']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(parameters('$workspaceSubscriptionId')['workspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(parameters('$resourceGroupName')['resourceGroupName'])}/workspaces/@{encodeURIComponent(parameters('$logicAppWorkspace')['logicAppWorkspace'])}"
                            },
                            "runAfter": {
                                "Parse_JSON_-_Parse_phishing_email_alert_from_Intezer": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Parse_JSON_-_Parse_phishing_email_alert_from_Intezer": {
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "alert": {
                                            "properties": {
                                                "alert_title": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "note": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {},
                            "type": "ParseJson"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$workspaceSubscriptionId": {
                        "value": {
                            "workspaceSubscriptionId": "[subscription().subscriptionId]"
                        }
                    },
                    "$resourceGroupName": {
                        "value": {
                            "resourceGroupName": "[resourceGroup().name]"
                        }
                    },
                    "$logicAppWorkspace": {
                        "value": {
                            "logicAppWorkspace": "[parameters('logicAppWorkspace')]"
                        }
                    },
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AlertAzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AlertAzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}