playbooks/update-alert.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "resourceTags": {
            "type": "object",
            "defaultValue": {
                "LogicAppsCategory": "security"
            }
        },
        "logicAppWorkspace": {
            "type": "string",
            "metadata": {
              "description": "Name of the existing Log Analytics workspace that the Logic App should connect to. Note that the Logic App connects to a single workspace, but can query data across multiple workspaces. Use the 'Workspaces To Query' parameter to specify the list of workspaces that the Logic App should query data from."
            }
        },
        "logicAppWorkspaceId": {
            "type": "string",
            "metadata": {
              "description": "Id of the existing Log Analytics workspace that the Logic App should connect to."
            }
        },
        "UpdateIncidentTriggeredByIncidentCreatedPlaybookName": {
            "defaultValue": "UpdateIncident-IntezerAlert-Webhook",
            "type": "string"
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        }
    },
    "variables": {
        "AlertAzureSentinelConnectionName": "azuresentinel-intezer-connection",
        "LogsMonitorConnectionName": "monitorlogs-intezer-connection"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AlertAzureSentinelConnectionName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('resourceTags')]",
            "properties": {
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "name": "[variables('LogsMonitorConnectionName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('resourceTags')]",
            "properties": {
              "api": {
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
              },
              "displayName": "azuremonitorlogs"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('UpdateIncidentTriggeredByIncidentCreatedPlaybookName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('resourceTags')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AlertAzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('LogsMonitorConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Add_comment_to_incident_(V3)": {
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                    "message": "<p>@{body('Parse_JSON')?['note']}</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            },
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Alert_-_Get_incident": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(parameters('$workspaceSubscriptionId')['workspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(parameters('$resourceGroupName')['resourceGroupName'])}/workspaces/@{encodeURIComponent(parameters('$resourceWorkspaceId')['resourceWorkspaceId'])}/alerts/@{encodeURIComponent(body('Parse_JSON_2')?['SystemAlertId'])}"

                            },
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Compose_-_remove_\"da\"_from_alert_id_to_make_if_sentinel_alert_id": {
                            "inputs": "@substring(variables('edr_alert_id'),2,sub(length(variables('edr_alert_id')),2))",
                            "runAfter": {
                                "Initialize_edr_alert_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose"
                        },
                        "Condition": {
                            "actions": {
                                "Terminate": {
                                    "inputs": {
                                        "runStatus": "Cancelled"
                                    },
                                    "runAfter": {},
                                    "type": "Terminate"
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('Parse_JSON')?['source']",
                                                "msd"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_2": {
                            "actions": {
                                "Terminate_2": {
                                    "inputs": {
                                        "runStatus": "Cancelled"
                                    },
                                    "runAfter": {},
                                    "type": "Terminate"
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(body('Run_query_and_list_results')?['value'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Run_query_and_list_results": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Delay": {
                            "inputs": {
                                "interval": {
                                    "count": 15,
                                    "unit": "Minute"
                                }
                            },
                            "runAfter": {
                                "Compose_-_remove_\"da\"_from_alert_id_to_make_if_sentinel_alert_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait"
                        },
                        "Initialize_edr_alert_id": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "edr_alert_id",
                                        "type": "string",
                                        "value": "@body('Parse_JSON')?['alert']?['alert_id']"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "alert_to_check",
                                        "type": "object",
                                        "value": "@first(body('Run_query_and_list_results')?['value'])"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Condition_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "alert": {
                                            "properties": {
                                                "alert_id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "intezer_alert_url": {
                                            "type": "string"
                                        },
                                        "note": {
                                            "type": "string"
                                        },
                                        "source": {
                                            "type": "string"
                                        },
                                        "triage_result": {
                                            "properties": {
                                                "alert_verdict_display": {
                                                    "type": "string"
                                                },
                                                "risk_category_display": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {},
                            "type": "ParseJson"
                        },
                        "Parse_JSON_2": {
                            "inputs": {
                                "content": "@variables('alert_to_check')",
                                "schema": {
                                    "properties": {
                                        "SystemAlertId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Run_query_and_list_results": {
                            "inputs": {
                                "body": "SecurityAlert\n| summarize arg_max(TimeGenerated, *) by SystemAlertId\n| where VendorOriginalId in(\"@{outputs('Compose_-_remove_\"da\"_from_alert_id_to_make_if_sentinel_alert_id')}\")",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "@{parameters('$resourceGroupName')['resourceGroupName']}",
                                    "resourcename": "@{parameters('$resourceWorkspaceName')['resourceWorkspaceName']}",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "@{parameters('$workspaceSubscriptionId')['workspaceSubscriptionId']}",
                                    "timerange": "Last 7 days"
                                }
                            },
                            "runAfter": {
                                "Delay": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$workspaceSubscriptionId": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$resourceGroupName": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$resourceWorkspaceId": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$resourceWorkspaceName": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {}
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$workspaceSubscriptionId": {
                        "value": {
                            "workspaceSubscriptionId": "[subscription().subscriptionId]"
                        }
                    },
                    "$resourceGroupName": {
                        "value": {
                            "resourceGroupName": "[resourceGroup().name]"
                        }
                    },
                    "$resourceWorkspaceId": {
                        "value": {
                            "resourceWorkspaceId": "[parameters('logicAppWorkspaceId')]"
                        }
                    },
                    "$resourceWorkspaceName": {
                        "value": {
                            "resourceWorkspaceName": "[parameters('logicAppWorkspace')]"
                        }
                    },
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AlertAzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AlertAzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AlertKeyvaultConnectionName'))]",
                                "connectionName": "[variables('AlertKeyvaultConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('LogsMonitorConnectionName'))]",
                                "connectionName": "[variables('LogsMonitorConnectionName')]",
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
                              }
                        }
                    }
                }
            }
        },
    ]
}